body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h2 {
  text-align: center;
  font-weight: bold;
  font-size: 20;
  margin: 20px 0;
}
h3 {
  margin-left: 50px;
  font-style: italic;
  font-size: 16px;
}
#puzzleContainer {
  margin: 40px 0;
  text-align: center;
}
#puzzleContainer #puzzleTbl {
  margin: auto;
}
#puzzleContainer #puzzleTbl tr {
  height: 50px;
}
#puzzleContainer #puzzleTbl tr td {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
}
.selectedBox {
  background-color: #ff9933;
}
.solvedBox {
  background-color: #66ff66;
}
.someOtherSolvedBox {
  background-color: #ffcccc;
}
